<h1>Editing compte client</h1>

<%= render "form", compte_client: @compte_client %>

<br>

<div>
  <%= link_to "Show this compte client", @compte_client %> |
  <%= link_to "Back to compte clients", compte_clients_path %>
</div>
