
<div class="flex justify-between items-center px-4">
  <h1 class="text-xl font-[500]">Virements</h1>
  <%= link_to "Nouveau transaction", new_virement_path, class: "py-3 text-[14px] text-blue-500 block font-medium" %>
</div>

<div id="virements" class="px-4">
  <table class="w-full">
    <thead>
      <tr class="border-b-[1px] border-gray-400">
        <th>Emeteur</th>
        <th>Receveur</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b-[1px] border-gray-400 text-center text-[14px]">
        <td> jerry nkafu </td>
        <td>dany ntwali</td>
        <td>500$</td>
        <td>2024-10-15</td>
        <td>
          <span class="text-blue-500">voir</span>
        </td>
      </tr>
      <tr class="border-b-[1px] border-gray-400 text-center text-[14px]">
        <td>dany ntwali  </td>
        <td>jerry nkafu</td>
        <td>300$</td>
        <td>2024-10-13</td>
        <td>
          <span class="text-blue-500">voir</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

