
<div class="flex justify-between items-center px-4">
  <h1 class="text-xl font-[500]">Virements</h1>
  <%= link_to "Nouveau transaction", new_virement_path, class: "py-3 text-[14px] text-blue-500 block font-medium" %>
</div>

<div id="virements" class="px-4">
  <table class="w-full">
    <thead>
      <tr class="border-b-[1px] border-gray-400">
        <th>Nom</th>
        <th>Prenom</th>
        <th>Téléphone</th>
        <th>Adress</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @virements.each do |virement| %>
        <%= render virement %>
      <% end %>
    </tbody>
  </table>
</div>

