<div id="<%= dom_id remboursement %>">
  <p>
    <strong>Credit:</strong>
    <%= remboursement.credit_id %>
  </p>

  <p>
    <strong>Montant recu:</strong>
    <%= remboursement.montant_recu %>
  </p>

  <p>
    <strong>Date jour:</strong>
    <%= remboursement.date_jour %>
  </p>

</div>
