<div class="px-4 pt-4">
    <% if user_signed_in? %>
        <div class="grid grid-cols-6 gap-4">
            <div class="col-span-2 mt-2 shadow rounded-lg h-[80px] p-2">
                <div class="text-2xl font-bold">785$</div>
                <div class="">Montant comptes</div>
            </div>
            <div class="col-span-2 mt-2 shadow rounded-lg text-red-500 h-[80px] p-2">
                <div class="text-2xl font-bold">400$</div>
                <div class="">Montant credit</div>
            </div>
            <div class="col-span-2 mt-2 shadow rounded-lg h-[80px] p-2">
                <div class="text-2xl font-bold">70$</div>
                <div class="">Retraits</div>
            </div>

            <div class="col-span-2 mt-2 shadow rounded-lg text-blue-500 h-[80px] p-2">
                <div class="text-2xl font-bold">890$</div>
                <div class="">Dépots</div>
            </div>
            <div class="col-span-2 mt-2 shadow rounded-lg h-[80px] p-2">
                <div class="text-2xl font-bold">2</div>
                <div class="">Clients</div>
            </div>
            <div class="col-span-2 mt-2 shadow rounded-lg text-red-500 h-[80px] p-2">
                <div class="text-2xl font-bold">1</div>
                <div class="">Credits en cours</div>
            </div>
        </div>
        <div class="grid grid-cols-6 gap-4 mt-4">
            <div class="col-span-3">
                <div class="text-md">Les transactions</div>
                <div>
                    <table class="w-full text-[14px]">
                        <thead>
                            <tr class="border-b-[1px] border-gray-400">
                                <th>Transaction</th>
                                <th>Montant</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @transactions.each do |transaction| %>
                                <%= render partial: "transactions/transaction", locals: { transaction: transaction }  %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-span-3">
                <div class="text-md">Les credits</div>
                <div>
                    <table class="w-full text-[14px]">
                        <thead>
                            <tr class="border-b-[1px] border-gray-400">
                                <th>Nom client</th>
                                <th>Montant</th>
                                <th>Interet</th>
                                <th>Reste</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @credits.each do |credit| %>
                                <%= render partial: "credits/credit", locals: { credit: credit }  %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% else %>
        <div class="grid grid-cols-6 gap-4">
            <div class="col-span-3 h-[400px] bg-white rounded px-4">
                <div class="text-center text-xl py-2">Membres du groupe</div>
                <div>
                    <p>1. NDAGANO MIHIGO Jospin</p>
                    <p>2. AGISHA ZIGABE Michael</p>
                    <p>3. NTWALI MUBERUKA Daniel</p>
                    <p>4. MUNGUALIWANI MWIRA Esther</p>
                    <p>5. MUGANZA TOMBO Hubert</p>
                    <p>6. BYAMUNGU MAJIBU Trésor</p>
                    <p>7. USHINDI BAHATI Vicky</p>
                    <p>8. AGANZE BIJIRAMUNGU Eric</p>
                    <p>9. MUSHAGALUSA BIRHWASHIRWA Christian</p>
                    <p>10. ANDEMA AMBIKA Raissa</p>
                    <p>11. MUGISHO MUNYAHALI Basilique</p>
                    <p>12. SABWE JOSUE DARCIN</p>
                </div>
            </div>
            <div class="col-span-3 h-[400px] bg-white rounded px-4">
                <div class="text-center text-xl py-2">Fonctionnalités</div>
                <p>A. Getion de compte clients</p>
                <p>B. Retrait et dépot d'argent</p>
                <p>C. Credit</p>
                <p>D. Virement bancaire</p>
                <p>E. Authentification</p>
            </div>
        </div>
    <% end %>
</div>

