
<div class="flex justify-between items-center px-4">
  <h1 class="text-xl font-[500]">Credits</h1>
  <%= link_to "Nouveau credit", new_credit_path, class: "py-3 text-[14px] text-blue-500 block font-medium" %>
</div>

<div id="credits" class="px-4">
  <table class="w-full">
    <thead>
      <tr class="border-b-[1px] border-gray-400">
        <th>Nom client</th>
        <th>Montant</th>
        <th>Interet</th>
        <th>Date</th>
        <th>Reste</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @credits.each do |credit| %>
        <%= render credit %>
      <% end %>
    </tbody>
  </table>
</div>
