
<div class="flex justify-between items-center px-4">
  <h1 class="text-xl font-[500]">Transactions</h1>
  <%= link_to "Nouveau transaction", new_transaction_path, class: "py-3 text-[14px] text-blue-500 block font-medium" %>
</div>

<div id="transactions" class="px-4">
  <table class="w-full">
    <thead>
      <tr class="border-b-[1px] border-gray-400">
        <th>Nom client</th>
        <th>Transaction</th>
        <th>Montant</th>
        <th>Num compte</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <%= render transaction %>
      <% end %>
    </tbody>
  </table>
</div>

